<template name="home">
  <ul class="collapsible collection" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">location_on</i><strong>3</strong> friends out now !</div>
      <div class="collapsible-body">
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="http://api.adorable.io/avatars/100/hello@nusson.ninja" alt="" class="circle">
            <div class="header">
              <span class="title">Nusson</span>
              <p>@Parc Lafontaine
              <br/><small>since 02:30pm</small></p>
            </div>
            <div class="secondary-content">
              <a class="btn-floating  aves-effect waves-light lighten-2"><i class="material-icons">location_on</i></a>
              <a class="btn-floating btn waves-effect waves-light lighten-2"><i class="material-icons">message</i></a>
              <a class="btn-floating btn waves-effect waves-light lighten-2"><i class="material-icons">info</i></a>
            </div>
          </li>
          <li class="collection-item avatar">
            <img src="http://api.adorable.io/avatars/100/julien@nusson.ninja" alt="" class="circle">
            <div class="header">
              <span class="title">Julien Desfroge</span>
              <p>@Parc olympique 
              <br/><small>since 12:30pm</small></p>
            </div>
            <hr>
            <p class="notes">
              Demo Jackaloppe festival 02pm - 05pm pour Slackline Montréal
            </p>
            <div class="secondary-content">
              <a class="btn-floating  aves-effect waves-light lighten-2"><i class="material-icons">location_on</i></a>
              <a class="btn-floating btn waves-effect waves-light lighten-2"><i class="material-icons">message</i></a>
              <a class="btn-floating btn waves-effect waves-light lighten-2"><i class="material-icons">info</i></a>
            </div>
          </li>
          <li class="collection-item avatar">
            <img src="http://api.adorable.io/avatars/100/maxime@nusson.ninja" alt="" class="circle">
            <div class="header">
              <span class="title">Maxime Pelletier</span>
              <p>@Parc Jarry 
              <br/><small>since 13:00pm</small></p>
            </div>
            <hr>
            <p class="notes">
              Longline workshop with CAA
            </p>
            <div class="secondary-content">
              <a class="btn-floating  aves-effect waves-light lighten-2"><i class="material-icons">location_on</i></a>
              <a class="btn-floating btn waves-effect waves-light lighten-2"><i class="material-icons">message</i></a>
              <a class="btn-floating btn waves-effect waves-light lighten-2"><i class="material-icons">info</i></a>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">message</i><strong>2</strong> unread messages</div>
      <div class="collapsible-body">
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="http://api.adorable.io/avatars/100/julien@nusson.ninja" alt="" class="circle">
            <div class="header">
              <span class="title">Marc Antoine</span>
            </div>
            <hr>
            <h6>02 fev 2015 - 08:45am</h6>
            <p class="notes">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <div class="secondary-content">
              <a class="btn-floating  aves-effect waves-light lighten-2"><i class="material-icons">location_on</i></a>
              <a class="btn-floating btn waves-effect waves-light lighten-2"><i class="material-icons">message</i></a>
              <a class="btn-floating btn waves-effect waves-light lighten-2"><i class="material-icons">info</i></a>
            </div>
          </li>
          <li class="collection-item avatar">
            <img src="http://api.adorable.io/avatars/100/maxime@nusson.ninja" alt="" class="circle">
            <div class="header">
              <span class="title">Maxime Pelletier</span>
              <p>@Parc Jarry 
              <br/><small>since 13:00pm</small></p>
            </div>
            <hr>
            <h6>03 fev 2015 - 09:28am</h6>
            <p class="notes">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <hr>
            <h6>03 fev 2015 - 11:00am</h6>
            <p class="notes">
              So ? Are you down for it ?
            </p>
            <hr>
            <h6>03 fev 2015 - 11:23am</h6>
            <p class="notes">well, forget it, an other day maybe...</p>
            <div class="secondary-content">
              <a class="btn-floating  aves-effect waves-light lighten-2"><i class="material-icons">location_on</i></a>
              <a class="btn-floating btn waves-effect waves-light lighten-2"><i class="material-icons">message</i></a>
              <a class="btn-floating btn waves-effect waves-light lighten-2"><i class="material-icons">info</i></a>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header active"><i class="material-icons">whatshot</i>Free discusions</div>
      <div class="collapsible-body">
        <ul class="tabs">
          <li class="tab col s3"><a href="#test1">Montreal</a></li>
          <li class="tab col s3"><a class="active" href="#test2">World</a></li>
        </ul>
        <ul id="test1">
          <li>
            <h6 class="teal-text text-darken-2">Marc Antoine</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
          </li>
          <li>
            <h6 class="teal-text text-darken-2">Frank dubosk</h6>
            <p> Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
          </li>
          <li>
            <h6 class="teal-text text-darken-2">Marie Antoinette</h6>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </li>
        </ul>
        <ul id="test2">
          <li>
            <h6 class="teal-text text-darken-2">Monsieur Dupond</h6>
            <p>...</p>
          </li>
          <li>
            <h6 class="teal-text text-darken-2">Van dam</h6>
            <p> Ut enim ad minim veniam</p>
          </li>
          <li>
            <h6 class="teal-text text-darken-2">Loui bonichon</h6>
            <p>Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </li>
          <li>
            <h6 class="teal-text text-darken-2">Marc Antoine</h6>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. </p>
          </li>
          <li>
            <h6 class="teal-text text-darken-2">Frank dubosk</h6>
            <p> Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
          </li>
          <li>
            <h6 class="teal-text text-darken-2">Monsieur Dupond</h6>
            <p>...</p>
          </li>
          <li>
            <h6 class="teal-text text-darken-2">Van dam</h6>
            <p> Ut enim ad minim veniam</p>
          </li>
          <li>
            <h6 class="teal-text text-darken-2">Loui bonichon</h6>
            <p>Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </li>
          <li>
            <h6 class="teal-text text-darken-2">Marc Antoine</h6>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. </p>
          </li>
          <li>
            <h6 class="teal-text text-darken-2">Frank dubosk</h6>
            <p> Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
          </li>
          <li>
            <h6 class="teal-text text-darken-2">Monsieur Dupond</h6>
            <p>...</p>
          </li>
          <li>
            <h6 class="teal-text text-darken-2">Van dam</h6>
            <p> Ut enim ad minim veniam</p>
          </li>
          <li>
            <h6 class="teal-text text-darken-2">Loui bonichon</h6>
            <p>Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </li>
          <li>
            <h6 class="teal-text text-darken-2">Marc Antoine</h6>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. </p>
          </li>
          <li>
            <h6 class="teal-text text-darken-2">Frank dubosk</h6>
            <p> Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <span class="clear"></span>
</template>