<template name="header">
  <header>
    <nav class="teal">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Slack now!</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/map">Map</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
          <li><a href="/map">Map</a></li>
        </ul>
      </div>
    </nav>
  </header>
</template>